<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/menu.css'/>
  </head>
  <body>
  <h1>CASTOR Robot</h1>
  <p><b>Hola! Soy el Robot CASTOR</b></p>
  <p><b>Bienvenido al Menú de Operación</b></p>
  <p>
    <a class="button grey" href="/comenzar">Comenzar</a> <a class="button grey" href="/abrir">Abrir</a> <a class="button grey" href="/cerrar">Cerrar</a> <a class="button grey" href="/neutral">Neutral</a>
  </p>
  <p>
    <a class="button grey" href="/tiempo_corto">Tiempo Corto</a> <a class="button grey" href="/tiempo_largo">Tiempo Largo</a> <a class="button grey" href="/boton">Botón</a> <a class="button grey" href="/globo">Globo</a>
  </p>
  </body>
</html>
