<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/menu.css'/>
  </head>
  <body>
    <h1>Nivel 1</h1>
    <p>
      <a class="button grey" href="/L1/FA">Atención Focalizada 🕵️‍♀️</a>
      <a class="button grey" href="/L1/FI">Seguimiento de Instrucciones 👉</a>
      <a class="button grey" href="/L1/WMP">Memoria de Trabajo y Procedimiento 🧠</a>
      <a class="button grey" href="/L1/PI">Imitación Física 🙅‍♂️</a>
      <a class="button grey" href="/L1/VI">Imitación Verbal 🗣</a>
      <a class="button grey" href="/L1/pinpon">Sammy🗣</a>
    </p>
    <a class="button grey" href="/">Menú</a
  </body>
</html>
