<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/menu.css'/>
  </head>
  <body>
    <h1>Nivel 3</h1>
    <p>
      <a class="button grey" href="/L3/FI_FA">Seguimiento de Instrucciones 👉 y Atención Focalizada 🕵️</a>
      <a class="button grey" href="/L3/WMP">Memoria de Trabajo y Procedimiento 🧠</a>
      <a class="button grey" href="/L3/PI">Imitación Física 🙅‍♂️</a>
      <a class="button grey" href="/L3/VI">Imitación Verbal 🗣</a>
    </p>
    <a class="button grey" href="/">Menú</a
  </body>
</html>
