<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/mainMenu.css'/>
  </head>
  <body>
  <h1>CASTOR Robot</h1>
  <p><b>Hola! Soy el Robot CASTOR</b></p>
  <p><b>Bienvenido al Menú de Operación</b></p>
  <p>
    <a class="button grey" href="/greet">Saludar</a><a class="button grey" href="/bye">Despedirse 🙋‍♂️</a><a class="button grey" href="/bye2">Despedirse 🙋‍♀️‍</a>
  </p>
  <p>
    <a class="button grey" href="/greetPN">Saludar por Nombre</a><a class="button grey" href="/byePN">Despedirse por Nombre</a><a class="button grey" href="/byeNP">Nos Vemos Pronto</a><a class="button  grey" href="/happyday">Que tengas un lindo dia</a>
    <a class="button  grey" href="/lets_go">Vamos a jugar</a> 
  </p>
  <p>
    <a class="button grey" href="/hifiveinstruction">Decir choca los 5</a>
    <a class="button grey" href="/highfive">Choca los 5</a>
    <a class="button grey" href="/bajar_brazo">Bajar brazo</a>
  </p>
  <h2>Estudio a largo plazo:</h2>
  <p>
    <a class="button grey" href="/L1">Nivel 1</a><a class="button grey" href="/L2">Nivel 2</a>
    <a class="button grey" href="/L3">Nivel 3</a><a class="button grey" href="/L4">Nivel 4</a>
  </p>
  <p>
  <a class="button grey" href="/AC">Actividades Adicionales</a>
  </p>
  <h2>Sistema:</h2>
  <p>
    <a class="button grey" href="/shutdown">Apagar 📴</a><a class="button grey" href="/reboot">Reiniciar 🔄</a>
  </p>
  </body>
</html>
