<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/mainMenu.css'/>
  </head>
  <body>
  <h1>Actividades Adicionales</h1>
    <p>
    <a class="button grey" href="/AC/hug">Abrazo</a>
    <a class="button grey" href="/AC/Conversation">Conversacion</a>
    <a class="button grey" href="/AC/BodyParts">Partes del Cuerpo</a>
    <a class="button grey" href="/AC/emotions">Emociones</a>
    <a class="button grey" href="/AC/maths">Operaciones</a>
    </p>
    <p>
    <a class="button grey" href="/">Atrás</a>
   </p>
  </body>
</html>
